#showcase{
    background-color: $backgroundColor;
    height: 1150px;

    .arrow{
        height: 50px;
        display: flex;
        width: 100%;

        .left{
            display: flex;
            #arrow1{
                background-color: $backgroundColor;
                position: relative;
                top: -35px;
                height: 50px;
                width: 70vw;
            }
        
            #arrow2{
                background-color: $backgroundColor;
                position: relative;
                top: -25px;
                height: 50px;
                width: 50px;
                left: -25px;
                transform: rotate(45deg);
            }
        }
    
        .right{
            display: flex;
            
            #arrow3{
                background-color: $backgroundColor;
                position: relative;
                top: -25px;
                height: 50px;
                width: 50px;
                right: 5px;
                transform: rotate(45deg);
            }
        
            #arrow4{
                background-color: $backgroundColor;
                position: relative;
                top: -35px;
                height: 50px;
                width: 25.75vw;
                right: 30px;
            }
        }
    }

    h1{
        color: $textColor;
    }

    .cards{
        display: grid;
        grid-gap: 5vh;
        .card{ 
            height: 300px;
            width: 100%;

            img{
                object-fit: cover;
                height: 300px;
                width: 100%;
                border-radius: 15px 15px 15px 15px;
            }
        }
    }
}

@media (min-width: 1020px) {
    #showcase{
        height: 1150px;
    }
    .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 1020px){
    #showcase{
        #img4{
            display: none;
        }

        #img5{
            display: none;
        }

        #img6{
            display: none;
        }
    }
}

@media (min-width: 1600px) {
    #showcase{
        height: 820px;
    }
    .cards { grid-template-columns: repeat(3, 1fr); }
}

.card:hover{

    img{
        opacity: 30%;
    }
}