#welcome{
    height: 920px;

    #title{
        z-index: 3;
        h1{
            font-size: 70px;
        }
    }

        #navbar{
            background-color: $backgroundColor;
            color: $textColor;
            height: 70px;
            display: flex;
            top: 0;
        
            .navbar-items{
                .right{
                    float: right;
                    margin-top: 20px;
    
                    a{
                        color: inherit;
                        padding-left: 20px;
                        font-size: 24px;
                        text-decoration: none;
                    }
                }
                
                .left{
                    float: left;
                    font-size: 24px;
                }
            }
        }
    
        #title{
            margin-top: 200px;
    
            p{
                margin: 0;
                font-size: 24px;
            }
    
            h1{
                margin: 0;
            }

            img{
                margin-top: 140px;
            }
        }
    
}