body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #141414;
  font-family: raleway, system-ui;
  font-weight: 800;
  overflow-x: hidden;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #141414;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #141414;
  /* creates padding around scroll thumb */
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  background-color: #141414;
  color: #F5F5F5;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  z-index: 4;
}

#navbar .navbar-items .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-top: 20px;
}

#navbar .navbar-items .right a {
  color: inherit;
  padding-left: 20px;
  font-size: 24px;
  text-decoration: none;
}

#navbar .navbar-items .right .right-alt button {
  color: #F5F5F5;
  background-color: #141414;
  border: none;
  cursor: pointer;
}

#navbar .navbar-items .left {
  float: left;
  font-size: 24px;
  margin-top: 20px;
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .right-normal {
    display: none;
  }
  .right-alt {
    display: true;
  }
}

#toggle-navbar {
  display: none;
  position: absolute;
  width: 100%;
  top: 70px;
  background-color: #F5F5F5;
  height: 170px;
}

#toggle-navbar a {
  color: #141414;
  font-size: 24px;
  text-decoration: none;
  display: block;
}

#toggle-navbar .links a {
  padding-top: 20px;
}

#toggle-navbar .links .last a {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid;
}

@media only screen and (min-width: 900px) {
  .right-alt {
    display: none;
  }
  #toggle-navbar {
    display: none;
  }
}

#welcome #title {
  color: #F5F5F5;
  height: 58vh;
}

#welcome #title .text {
  z-index: 2;
  margin-top: 30vh;
}

#welcome #title .text p {
  margin: 0;
}

#welcome #title .text h1 {
  margin: 0;
}

#welcome #title .image {
  z-index: -2;
  position: absolute;
  top: 70px;
  right: 0;
  width: 51%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#welcome #title .image1 {
  z-index: -1;
  position: absolute;
  background-color: #141414;
  top: 70px;
  height: 830px;
  width: 49vw;
}

#welcome #title .image2 {
  z-index: -1;
  position: absolute;
  background-color: #141414;
  height: 950px;
  right: 690px;
  width: 450px;
  top: -70px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

@media only screen and (max-width: 1780px) {
  .image2 {
    visibility: hidden;
  }
  .text {
    max-width: 600px;
  }
  .text p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1335px) {
  .image {
    visibility: hidden;
  }
  .image1 {
    visibility: hidden;
  }
  body {
    background-color: #141414;
  }
  .text {
    max-width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  .text p {
    font-size: 18px;
  }
  .text h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 570px) {
  .text p {
    font-size: 22px;
  }
  .text h1 {
    font-size: 70px;
  }
}

#showcase {
  background-color: #141414;
  height: 1150px;
}

#showcase .arrow {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#showcase .arrow .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#showcase .arrow .left #arrow1 {
  background-color: #141414;
  position: relative;
  top: -35px;
  height: 50px;
  width: 70vw;
}

#showcase .arrow .left #arrow2 {
  background-color: #141414;
  position: relative;
  top: -25px;
  height: 50px;
  width: 50px;
  left: -25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#showcase .arrow .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#showcase .arrow .right #arrow3 {
  background-color: #141414;
  position: relative;
  top: -25px;
  height: 50px;
  width: 50px;
  right: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#showcase .arrow .right #arrow4 {
  background-color: #141414;
  position: relative;
  top: -35px;
  height: 50px;
  width: 25.75vw;
  right: 30px;
}

#showcase h1 {
  color: #F5F5F5;
}

#showcase .cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 5vh;
}

#showcase .cards .card {
  height: 300px;
  width: 100%;
}

#showcase .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
}

@media (min-width: 1020px) {
  #showcase {
    height: 1150px;
  }
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1020px) {
  #showcase #img4 {
    display: none;
  }
  #showcase #img5 {
    display: none;
  }
  #showcase #img6 {
    display: none;
  }
}

@media (min-width: 1600px) {
  #showcase {
    height: 820px;
  }
  .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.card:hover img {
  opacity: 30%;
}

#aboutMe {
  height: 1000px;
  background-color: #F5F5F5;
}

#projects-experiments #projects #title {
  background-color: #F5F5F5;
}

#projects-experiments #projects #title .title {
  font-size: 90px;
}

#projects-experiments #projects #cards {
  background-color: #141414;
  height: 1000px;
}

#projects-experiments #experiments #title {
  background-color: #F5F5F5;
}

#projects-experiments #experiments #title .title {
  font-size: 90px;
}

#projects-experiments #experiments #cards {
  background-color: #141414;
  height: 1000px;
}
/*# sourceMappingURL=style.css.map */